
@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";
body {
  scroll-behavior: smooth;
}

@keyframes glow {
  0% {
    filter: blur(100px) brightness(1);
    opacity: 0.8;
  }
  100% {
    filter: blur(100px) brightness(1.3);
    opacity: 1;
  }
}

@keyframes pulse {
  0%,
  100% {
    box-shadow: 0 0 10px #fff, 0 0 20px #4f46e5, 0 0 30px #06b6d4;
  }
  50% {
    box-shadow: 0 0 15px #fff, 0 0 30px #4f46e5, 0 0 40px #06b6d4;
  }
}

